@tailwind base;
@tailwind components;
@tailwind utilities;

/* extra small helpers */
html { scroll-behavior: smooth; }

:root{
  --accent: #60a5fa; /* blue-400 */
  --accent-2: #a78bfa; /* purple-400 */
}
